#terminal {
    height: 45em;
    width: 65em;
    z-index: 0;
}

#credits {
    width: 20em;
    z-index: 2;
    img {
        width: calc(20em - 16px);
    }
}

#player {
    height: 35em;
    width: 50em;
    z-index: 1;
}
