body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url("bliss.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
}

.window {
    position: fixed;
    visibility: visible;
    z-index: 0;

    display: flex;
    flex-direction: column;
}

.window-body {
    flex-grow: 1;
}

.title-bar {
    cursor: move;
}

.resize-zone {
    position: absolute;
}
.left-resize {
    width: 5px;
    height: 100%;
    cursor: ew-resize;
}
.right-resize {
    width: 5px;
    height: 100%;
    right: 0;
    cursor: ew-resize;
}
.top-resize {
    height: 5px;
    width: 100%;
    cursor: ns-resize;
}
.bottom-resize {
    height: 5px;
    width: 100%;
    bottom: 0;
    cursor: ns-resize;
}

#terminal {
    background-color: black;
    pre {
        overflow-x: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 4px;
        margin-left: 0;
        width: calc(100% - 3px);
    }
}

#player {
    padding: 0;
    .window-body {
        margin: 3px;
        margin-top: 0;
        margin-bottom: 0;
        height: calc(100%+1em);
    }
    iframe {
        height: calc(100% - 3px);
    }
}